chapter: "chapter17"
drupal:
  root: "build"
  base_url: "http://nginx"
  database:
    host: "mariadb"
    port: "3306"
    name: "drupal"
    user: "drupal"
    password: "drupal"
  post_install:
    - "./vendor/bin/drush en devel_entity_updates -y"
    - "./vendor/bin/drush cr"
  settings:
    settings:
      file_scan_ignore_directories:
        - "vendor"
        - "${drupal.root}"

selenium:
  host: "http://selenium"
  port: "4444"
  browser: "chrome"

commands:
  drupal:module-setup:
    - { task: "symlink", from: "../../../packt/${chapter}", to: "${drupal.root}/modules/custom/packt" }
  drupal:site-setup:
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:phpunit" }
    - { task: "run", command: "drupal:module-setup" }
    # Temporarily remove a non-supported contrib submodule.
    - { task: "remove", file: "build/modules/contrib/admin_toolbar/admin_toolbar_search" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
  drupal:phpcs:
    - "phpcs --standard=Drupal --extensions=php,module,inc,install,test,profile,theme,css,info --ignore=vendor,build ."
  drupal:phpcbf:
    - "phpcbf --standard=Drupal --extensions=php,module,inc,install,test,profile,theme,css,info --ignore=vendor,build ."